@model PharmacyOn.Models.ShoppingCart

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>Are you sure you want to remove this product from cart ?</h3>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" asp-action="Delete">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                <th class="product-remove"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-thumbnail">
                                    <img src="@Url.Content(Model.PhotoPath)" alt="Image" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">@Model.ProductName</h2>
                                </td>

                                <td>$@Model.Cost</td>

                                <td>@Model.Quantity</td>

                                <td>$@Model.TotalPrice</td>

                                <td>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Remove" class="btn btn-danger" />|  
                                    <a asp-action="Index">Back to Shopping Cart</a>
                                </td>
                                </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

